/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header section style  */
header {
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 708px;
}

.banner-content h1 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.banner-content p {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 32px;
}

.banner-content button,
.offer-content button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border: none;
    border-radius: 8px;
    background: #E55473;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-image {}

.banner-image img {}

/* main section  */
main section {
    margin-bottom: 128px;
}

/* feature-section styles  */
.feature-section {
    margin-top: 178px;
}

/******* common container 1440px/ 75% width  *******/
.feature-container,
.delivery-container,
.offer-container,
.subscribe-container {
    max-width: 75%;
    margin: 0 auto;
}

.feature-content {
    margin-bottom: 48px;
}

.feature-content h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-bottom: 24px;
}

.feature-content p {
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.feature-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.pink-container,
.blue-container,
.green-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pink-container img,
.blue-container img,
.green-container img {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 78px;
}

.pink-container img {
    background: rgba(167, 33, 98, 0.15);
}

.blue-container img {
    background: rgba(5, 151, 160, 0.15);
}

.green-container img {
    background: rgba(71, 125, 17, 0.15);
}

.pink-container p,
.blue-container p,
.green-container p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    margin-top: 32px;
}

/* delivery section styles  */
.delivery-container {
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.delivery-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery-container div p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
    margin-top: 24px;
}

/* offer section styles  */
.offer-section {
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.offer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-content h1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.offer-content p {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 32px;
}

.offer-image {}

/* instagram section styles  */
.instagram-content h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.instagram-content p {
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 48px;
}

.instagram-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* subscribe section styles  */
.subscribe-container {
    background-image: url("rect-9.png");
    background-repeat: no-repeat;
    height: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe-container h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.subscribe-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 48px;
}

.subscribe-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-container input[type=email] {
    width: 700px;
    padding: 22px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
}

.subscribe-container input[type=submit] {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 30px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    cursor: pointer;
}

/* footer styles  */

footer {
    background: #111010;
    height: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container h1 {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
}

.footer-container .footer-description {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin: 0 auto;
    margin-bottom: 32px;
}

.footer-container .footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}