/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header section style  */
header {
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 708px;
}

.banner-content h1 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.banner-content p {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 32px;
}

.banner-content button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border: none;
    border-radius: 8px;
    background: #E55473;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-image {
  
}

.banner-image img {

}